.recipe-list,
.search-list {
  input {
    margin: 0 auto 11px;
    max-width: 54.5%;
    width: 100%;
  }
  .list-group {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .list-group-item {
      margin: 0 30px 30px 0;
      border-radius: 5px;
      text-transform: capitalize;
      max-width: 22.5%;
      width: 100%;
      transition: all .3s;
      &:hover {
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
      p {
        margin: 10px 0;
      }
    }
  }
}